* {
  text-decoration: none;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 15fr;
  height: 100vh;
  background-color: #f7d794;
}
/*navbar*/
.navbar {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  text-justify: center;
  background-color: #f5cd79;
}

.navbar .navChild {
  overflow: hidden;
  box-sizing: border-box;
}

.navbar .logoMain {
  font-weight: 800;
  font-size: 4rem;
  text-shadow: 2px 2px 3px red;
}
.navbar .linksMain {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  color: black;
}

.navbar .linksMain .fa {
  font-size: 1.6rem;
}

.navbar .contactMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.navbar .contactMain i {
  color: #111;
}
.navbar .contactMain i:hover {
  color: red;
}
/*showcase*/

.showcase .home {
  margin-top: 6%;
}

.showcase .home > :first-child {
  text-align: left;
  margin-left: 4%;
  font-size: 3rem;
}

.showcase .home > :nth-child(2) {
  text-align: left;
  margin-left: 20%;
  font-size: 4rem;
}

.showcase .home > :nth-child(2) span {
  text-shadow: 2px 2px 3px red;
}

.showcase .home > :nth-child(3) {
  text-align: left;
  margin-left: 25%;
  font-size: 2rem;
}
